#menu {
    position: absolute; /* we can't use fixed here :( */
    top: 83;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 100%;
    background-color: #232d3b;
    text-decoration: none;
    margin-top: -1px;
    
}

#menu li{
    list-style: none;
    /*border-bottom: 5px solid grey;*/
    /*margin-left: -40px;*/
}

#menu li a{
    box-shadow: 0px -1px rgba(0, 0, 0, 0.2) inset, 0px 1px rgba(0, 0, 0, 0.2) inset;
    display: block;
    color: gainsboro;
    text-decoration: none;
    padding: 25px;
    font-size: 1.4em;
}

#menu li a:hover{
    color: blue;
}

#menu ul {
    /*border-bottom: 5px solid grey;*/
}

#headerBar1 {
    height: 75px;
    background-color: #232d3b;
    width: 100%;
    margin-left: auto;
    border-bottom: 8px solid slategray;
    position: relative;
}

#logoimg img{
    margin: 10px;
}

#container {
    margin-left: 300px;
    margin-top: 400px;
}

#map-canvas{
    margin-left: 300px;
    margin-top: 0px;
}